In [1]:
# Calcula la cantidad de trbajadores vulnerables al cambio climático

# Importamos librerías
import numpy as np
import pandas as pd
import geopandas as gpd
import geoviews as gv
from scipy import stats

# Parámetros de mapas
gv.extension("matplotlib")
def hook(plot, element):
    cax = plot.handles["cax"]
    ax = plot.handles["axis"]
    bbox = ax.get_position()
    l, b, w, h = bbox.x0, bbox.y0, bbox.width, bbox.height
    cax.set_position([l, 0.9*b, w, 0.05*h])
options = { "colorbar": True, "linewidth": 0.4,
    "hooks": [hook], "ylim":(-62,85), "xlim":(-180,180),
    "colorbar_opts": {"orientation": "horizontal"} }
options_m = { "bgcolor": "lightgray", "fontscale": 2, "aspect": 2.25 }

In [2]:
# Datos

# Códigos nacionales
ix  = "ISO_A3"

# Carpetas
path_r = "../results/"

# Catálogo de datos
path_catalog = "../../Bases_de_datos/Data_catalog.csv"
df_c = pd.read_csv(path_catalog)

# Mapa
borders_path = ( "../../Bases_de_datos/Mapas/"
    + "Natural_Earth/ne_50m_admin_0_countries_mod" )
borders = gpd.read_file(borders_path).drop(
    columns = [ix] ).set_index("ISO_A3_EH")
borders.index.name = ix
borders = borders[ borders["ISO_N3_EH"] != "-99" ]
borders = borders[ ~borders.index.duplicated() ]

# Océano
ocean_path = ( "../../Bases_de_datos/Mapas/"
    + "Natural_Earth/ne_50m_ocean" )
ocean = gv.Polygons( gpd.read_file(ocean_path), vdims = "min_zoom"
    ).opts( linewidth = 0, cmap = "Paired")

# Tabla base
iso = "../../Bases_de_datos/Country_ISO_code.csv"
df_iso = pd.read_csv(iso).set_index("alpha-3")
df_iso = df_iso.drop( ["ATA", "ATF", "HMD", "SJM", "SXM", "VAT",
    "BVT", "SGS", "UMI", "ESH", #"TKL",
    "IOT"] )
df_iso.loc[-1] = [ "Kosovo", "XK", "002", np.nan, "Europe", "Southern Europe",
    np.nan, 150, 39, np.nan, np.nan, np.nan, np.nan, np.nan ]
df_iso = df_iso.rename( index = {-1: "XKX"} )
df_iso.index.name = ix

In [3]:
# Índices de vulnerabilidad social
index_n = [ "Social vulnerability index, physical climate impacts",
    "Social vulnerability index, climate transition impacts",
    "Extreme temperature exposure index" ]

df_ph = pd.read_csv("../share/Indexes/Physical_vulnerability_index.csv",
    index_col = ix, usecols = ["Name", ix, index_n[0]] )
df_tr = pd.read_csv("../share/Indexes/Transition_vulnerability_index.csv",
    index_col = ix, usecols = ["Name", ix, index_n[1]] )
df_cl = pd.read_csv("../share/Indexes/Climate_index.csv",
    index_col = ix, usecols = [ix, index_n[2]] )

df_iso[index_n[0]] = df_ph[index_n[0]]
df_iso[index_n[1]] = df_tr[index_n[1]]
df_iso[index_n[2]] = df_cl[index_n[2]]

df = df_iso[ ["name"] + index_n].copy()

df

,name,"Social vulnerability index, physical climate impacts","Social vulnerability index, climate transition impacts",Extreme temperature exposure index
ISO_A3,,,,
AFG,Afghanistan,9.514381,5.899866,6.447368
ALA,Åland Islands,NaN,2.528552,0.000000
ALB,Albania,3.456820,4.426429,3.947368
DZA,Algeria,5.218510,4.363097,6.907895
ASM,American Samoa,NaN,7.173061,0.000000
...,...,...,...,...
WLF,Wallis and Futuna,NaN,5.848723,0.000000
YEM,Yemen,8.988814,6.824422,7.105263
ZMB,Zambia,8.199389,8.271665,6.250000
ZWE,Zimbabwe,8.718394,6.329295,6.052632
XKX,Kosovo,NaN,3.963699,NaN

In [4]:
# Archivo de estadísticas de empleo

# Variables relevantes
id = "EMP_TEMP_SEX_AGE_ECO_NB"
vul_n = [ "Workers in sectors subject to physical climate vulnerability",
    "Workers in sectors subject to transitional climate vulnerability" ]
sectors = [ "Economic activity (Aggregate): Total",
    "Economic activity (Aggregate): Agriculture",
    "Economic activity (Aggregate): Construction",
    "Economic activity (Aggregate): Manufacturing",
    "Economic activity (Aggregate): Mining and quarrying; "
    + "Electricity, gas and water supply" ]
sexes = ["Sex: Total", "Sex: Female"]
ages = [ "Age (10-year bands): Total",
    "Age (10-year bands): 65+",
    "Age (10-year bands): 45-54",
    "Age (10-year bands): 55-64" ]

# Cargamos el archivo
df_0 = pd.read_csv( "../../" + df_c.loc[df_c["ID"]==id, "Path"].iloc[0]
    + df_c.loc[df_c["ID"]==id, "Filename" ].iloc[0], low_memory = False )
df_0["ref_area.label"] = df_0["ref_area.label"].replace( {
    "Occupied Palestinian Territory": "Palestine, State of",
    "Hong Kong, China": "Hong Kong",
    "Republic of Korea" : "Korea, Republic of",
    "Republic of Moldova": "Moldova, Republic of"
    } )
df_0 = df_0.set_index("ref_area.label")
df_0[ix] = df_iso["name"].reset_index().set_index("name")

# Dataframe para seleccionar año de disponibilidad de datos
countries = df_0.loc[~df_0[ix].duplicated(), [ix]].set_index(ix)
countries["Total_year"] = None
countries["Female_year"] = None
countries["Age_year"] = None
countries

       Total_year Female_year Age_year
ISO_A3
AFG          None        None     None
AGO          None        None     None
ALB          None        None     None
ARE          None        None     None
ARG          None        None     None
...           ...         ...      ...
WSM          None        None     None
YEM          None        None     None
ZAF          None        None     None
ZMB          None        None     None
ZWE          None        None     None

[175 rows x 3 columns]

In [5]:
# Escogemos el año para el que hay datos disponibles

# Datos de empleo total y de mujeres.
shape = len(sectors) * len(sexes) * len([ages[0]])
for c in countries.index:
    for y in range(2023, 2013, -1):
        size = df_0.loc[ (df_0["sex.label"].isin(sexes))
            & (df_0["classif1.label"].isin([ages[0]]))
            & (df_0["classif2.label"].isin(sectors))
            & (df_0["time"]==y)
            & (df_0[ix]==c)
            & (df_0["obs_value"].notnull()) ].shape[0]
        if size == shape:
            countries.loc[c, "Female_year"] = y
            break

# Datos de empleo total para los países que no tienen de mujeres.
shape = len(sectors) * len([sexes[0]]) * len([ages[0]])
for c in countries.index:
    for y in range(2023, 2013, -1):
        size = df_0.loc[ (df_0["sex.label"].isin(sexes[0:1]))
            & (df_0["classif1.label"].isin(ages[0:1]))
            & (df_0["classif2.label"].isin(sectors))
            & (df_0["time"]==y)
            & (df_0[ix]==c)
            & (df_0["obs_value"].notnull()) ].shape[0]
        if size == shape:
            countries.loc[c, "Total_year"] = y
            break
countries["Total_year"] = countries["Total_year"].where(
    countries["Female_year"].isnull(), np.nan )

# Datos de empleo por edad.
shape = len(sectors) * len([sexes[0]]) * len(ages)
for c in countries.index:
    for y in range(2023, 2013, -1):
        size = df_0.loc[ (df_0["sex.label"].isin(sexes[0:1]))
            & (df_0["classif1.label"].isin(ages))
            & (df_0["classif2.label"].isin(sectors))
            & (df_0["time"]==y)
            & (df_0[ix]==c)
            & (df_0["obs_value"].notnull()) ].shape[0]
        if size == shape:
            countries.loc[c, "Age_year"] = y
            break
        
countries[countries["Age_year"].notnull()].sort_values("Age_year")

       Total_year Female_year Age_year
ISO_A3
CMR           NaN        2021     2014
MAR           NaN        2014     2014
TTO           NaN        2022     2015
ZMB           NaN        2021     2015
MDV           NaN        2019     2016
...           ...         ...      ...
BRA           NaN        2023     2023
RUS           NaN        2023     2023
RWA           NaN        2023     2023
SGP           NaN        2023     2023
MDA           NaN        2023     2023

[116 rows x 3 columns]

In [54]:
# Obtenemos los trabajadores totales en riesgo
n_series = "total"

# Para cada país seleccionamos el año correspondiente
df_j = []
for row in countries[ countries["Total_year"].notnull() ].itertuples():
    df_j.append( df_0[ (df_0["sex.label"].isin(sexes[0:1]))
        & (df_0["classif1.label"].isin(ages[0:1]))
        & (df_0["classif2.label"].isin(sectors))
        & (df_0[ix]==row.Index)
        & (df_0["time"]==row.Total_year) ] )
df_i = pd.concat(df_j).set_index(ix).sort_index()

# Total de trabajadores
df_tot = df_i.loc[ df_i["classif2.label"
    ].isin(sectors[0:1]), "obs_value" ].copy()

# Calculamos porcentajes por tipo de vulnerabilidad y unimos el dataframe
df_i["% obs_value"] = 100 * df_i["obs_value"] / df_tot
df_j = df_i.loc[df_i["classif2.label"].isin(sectors[1:2])].copy()
df_j[["obs_value", "% obs_value"]] = (
    df_i.loc[ df_i["classif2.label"].isin(sectors[1:2]),
    ["obs_value", "% obs_value"] ]
    + df_i.loc[ df_i["classif2.label"].isin(sectors[2:3]),
    ["obs_value", "% obs_value"] ] )
df_j["classif2.label"] = f"{vul_n[0]}, {n_series}"
df_k = df_i.loc[df_i["classif2.label"].isin(sectors[1:2])].copy()
df_k[["obs_value", "% obs_value"]] = (
    df_i.loc[ df_i["classif2.label"].isin(sectors[3:4]),
    ["obs_value", "% obs_value"] ]
    + df_i.loc[ df_i["classif2.label"].isin(sectors[4:5]),
    ["obs_value", "% obs_value"] ] )
df_k["classif2.label"] = f"{vul_n[1]}, {n_series}"
df_i = pd.concat([df_j, df_k]).sort_index()

# Asignamos los valores obtenidos al dataframe principal
for c in df_i.index.unique():
    df.loc[c, f"{vul_n[0]}, {n_series}"] = ( df_i.loc[ (df_i.index==c)
        & (df_i["classif2.label"]==f"{vul_n[0]}, {n_series}"),
        "obs_value"] ).values[0] * 1000
    df.loc[c, f"% {vul_n[0]}, {n_series}"] = ( df_i.loc[ (df_i.index==c)
        & (df_i["classif2.label"]==f"{vul_n[0]}, {n_series}"),
        "% obs_value"] ).values[0]
    df.loc[c, f"{vul_n[1]}, {n_series}"] = ( df_i.loc[ (df_i.index==c)
        & (df_i["classif2.label"]==f"{vul_n[1]}, {n_series}"),
        "obs_value"] ).values[0] * 1000
    df.loc[c, f"% {vul_n[1]}, {n_series}"] = ( df_i.loc[ (df_i.index==c)
        & (df_i["classif2.label"]==f"{vul_n[1]}, {n_series}"),
        "% obs_value"] ).values[0]

In [57]:
# Obtenemos las trabajadoras en riesgo

# Trabajadores totales
n_series = "total"

# Para cada país seleccionamos el año correspondiente
df_j = []
for row in countries[ countries["Female_year"].notnull() ].itertuples():
    df_j.append( df_0[ (df_0["sex.label"].isin(sexes[0:1]))
        & (df_0["classif1.label"].isin(ages[0:1]))
        & (df_0["classif2.label"].isin(sectors))
        & (df_0[ix]==row.Index)
        & (df_0["time"]==row.Female_year) ] )
df_i = pd.concat(df_j).set_index(ix).sort_index()

# Total de trabajadores
df_tot = df_i.loc[ df_i["classif2.label"
    ].isin(sectors[0:1]), "obs_value"].copy()

# Calculamos porcentajes por tipo de vulnerabilidad y unimos el dataframe
df_i["% obs_value"] = 100 * df_i["obs_value"] / df_tot
df_j = df_i.loc[df_i["classif2.label"].isin(sectors[1:2])].copy()
df_j[["obs_value", "% obs_value"]] = (
    df_i.loc[ df_i["classif2.label"].isin(sectors[1:2]),
    ["obs_value", "% obs_value"] ]
    + df_i.loc[ df_i["classif2.label"].isin(sectors[2:3]),
    ["obs_value", "% obs_value"] ] )
df_j["classif2.label"] = f"{vul_n[0]}, {n_series}"
df_k = df_i.loc[df_i["classif2.label"].isin(sectors[1:2])].copy()
df_k[["obs_value", "% obs_value"]] = (
    df_i.loc[ df_i["classif2.label"].isin(sectors[3:4]),
    ["obs_value", "% obs_value"] ]
    + df_i.loc[ df_i["classif2.label"].isin(sectors[4:5]),
    ["obs_value", "% obs_value"] ] )
df_k["classif2.label"] = f"{vul_n[1]}, {n_series}"
df_i = pd.concat([df_j, df_k]).sort_index()

# Asignamos los valores obtenidos al dataframe principal
for c in df_i.index.unique():
    df.loc[c, f"{vul_n[0]}, {n_series}"] = ( df_i.loc[ (df_i.index==c)
        & (df_i["classif2.label"]==f"{vul_n[0]}, {n_series}"),
        "obs_value"] ).values[0] * 1000
    df.loc[c, f"% {vul_n[0]}, {n_series}"] = ( df_i.loc[ (df_i.index==c)
        & (df_i["classif2.label"]==f"{vul_n[0]}, {n_series}"),
        "% obs_value"] ).values[0]
    df.loc[c, f"{vul_n[1]}, {n_series}"] = ( df_i.loc[ (df_i.index==c)
        & (df_i["classif2.label"]==f"{vul_n[1]}, {n_series}"),
        "obs_value"] ).values[0] * 1000
    df.loc[c, f"% {vul_n[1]}, {n_series}"] = ( df_i.loc[ (df_i.index==c)
        & (df_i["classif2.label"]==f"{vul_n[1]}, {n_series}"),
        "% obs_value"] ).values[0]


# Trabajadoras totales
n_series = "female"

# Para cada país seleccionamos el año correspondiente
df_j = []
for row in countries[ countries["Female_year"].notnull() ].itertuples():
    df_j.append( df_0[ (df_0["sex.label"].isin(sexes[1:2]))
        & (df_0["classif1.label"].isin(ages[0:1]))
        & (df_0["classif2.label"].isin(sectors))
        & (df_0[ix]==row.Index)
        & (df_0["time"]==row.Female_year) ] )
df_i = pd.concat(df_j).set_index(ix).sort_index()

# Total de trabajadores
df_i["% obs_value"] = 100 * df_i["obs_value"] / df_tot

# Para cada país seleccionamos el año correspondiente
df_j = df_i.loc[df_i["classif2.label"].isin(sectors[1:2])].copy()
df_j[["obs_value", "% obs_value"]] = (
    df_i.loc[ df_i["classif2.label"].isin(sectors[1:2]),
    ["obs_value", "% obs_value"] ]
    + df_i.loc[ df_i["classif2.label"].isin(sectors[2:3]),
    ["obs_value", "% obs_value"] ] )
df_j["classif2.label"] = f"{vul_n[0]}, {n_series}"
df_k = df_i.loc[df_i["classif2.label"].isin(sectors[1:2])].copy()
df_k[["obs_value", "% obs_value"]] = (
    df_i.loc[ df_i["classif2.label"].isin(sectors[3:4]),
    ["obs_value", "% obs_value"] ]
    + df_i.loc[ df_i["classif2.label"].isin(sectors[4:5]),
    ["obs_value", "% obs_value"] ] )
df_k["classif2.label"] = f"{vul_n[1]}, {n_series}"
df_i = pd.concat([df_j, df_k]).sort_index()

# Calculamos porcentajes por tipo de vulnerabilidad y unimos el dataframe
for c in df_i.index.unique():
    df.loc[c, f"{vul_n[0]}, {n_series}"] = ( df_i.loc[ (df_i.index==c)
        & (df_i["classif2.label"]==f"{vul_n[0]}, {n_series}"),
        "obs_value"] ).values[0] * 1000
    df.loc[c, f"% {vul_n[0]}, {n_series}"] = ( df_i.loc[ (df_i.index==c)
        & (df_i["classif2.label"]==f"{vul_n[0]}, {n_series}"),
        "% obs_value"] ).values[0]
    df.loc[c, f"{vul_n[1]}, {n_series}"] = ( df_i.loc[ (df_i.index==c)
        & (df_i["classif2.label"]==f"{vul_n[1]}, {n_series}"),
        "obs_value"] ).values[0] * 1000
    df.loc[c, f"% {vul_n[1]}, {n_series}"] = ( df_i.loc[ (df_i.index==c)
        & (df_i["classif2.label"]==f"{vul_n[1]}, {n_series}"),
        "% obs_value"] ).values[0]

# 10 países más altos, total de trabajadores, vulnerabilidad por transición
# Ordenado por trabajadores
n_series = "total"
df[["name", f"% {vul_n[1]}, {n_series}", index_n[1]]].sort_values(
    f"% {vul_n[1]}, {n_series}", ascending = False ).head(5)

,name,"% Workers in sectors subject to transitional climate vulnerability, total","Social vulnerability index, climate transition impacts"
ISO_A3,,,
NPL,Nepal,45.461231,5.506662
CZE,Czechia,29.123394,1.766640
LSO,Lesotho,27.194543,8.912451
UZB,Uzbekistan,26.265410,4.856086
SVK,Slovakia,26.042549,2.331129
SVN,Slovenia,24.407332,1.167001
MKD,North Macedonia,23.774525,5.476302
HUN,Hungary,23.206243,3.884923
ROU,Romania,23.028373,5.484360
BLR,Belarus,22.934962,4.939936

In [62]:
# 10 países más altos, total de trabajadores, vulnerabilidad por transición
# Ordenado por índice de vulnerabilidad
n_series = "total"
df[["name", f"% {vul_n[1]}, {n_series}", index_n[1]]].sort_values(
    index_n[1], ascending = False ).head(5)

,name,"% Workers in sectors subject to transitional climate vulnerability, total","Social vulnerability index, climate transition impacts"
ISO_A3,,,
PNG,Papua New Guinea,3.711221,10.000000
AGO,Angola,3.474576,9.855374
MOZ,Mozambique,4.745308,9.727167
SSD,South Sudan,NaN,9.517517
NIC,Nicaragua,12.777202,9.185945

In [71]:
# 10 países más altos, trabajadoras, vulnerabilidad por transición
# Ordenado por trabajadoras
n_series = "female"
df[["name", f"% {vul_n[1]}, total", f"% {vul_n[1]}, {n_series}",
    index_n[1]]].sort_values(
    f"% {vul_n[1]}, {n_series}", ascending = False ).head(5)

,name,"% Workers in sectors subject to transitional climate vulnerability, total","% Workers in sectors subject to transitional climate vulnerability, female","Social vulnerability index, climate transition impacts"
ISO_A3,,,,
LSO,Lesotho,27.194543,16.103074,8.912451
TON,Tonga,19.643707,16.088703,3.944786
NPL,Nepal,45.461231,12.349703,5.506662
VNM,Viet Nam,22.700926,12.252059,7.068200
BFA,Burkina Faso,21.780435,11.286340,7.652842

In [64]:
# 10 países más altos, total de trabajadores, vulnerabilidad física
# Ordenado por trabajadores
n_series = "total"
df[["name", f"% {vul_n[0]}, {n_series}", index_n[0], index_n[2]]].sort_values(
    f"% {vul_n[0]}, {n_series}", ascending = False ).head(5)

,name,"% Workers in sectors subject to physical climate vulnerability, total","Social vulnerability index, physical climate impacts",Extreme temperature exposure index
ISO_A3,,,,
BDI,Burundi,86.359480,9.423808,0.131579
MOZ,Mozambique,75.051726,8.940760,6.184211
LAO,Lao People's Democratic Republic,73.002749,6.745617,6.710526
TCD,Chad,71.879521,10.000000,9.144737
MDG,Madagascar,71.666456,8.019179,4.013158

In [69]:
# 10 países más altos, total de trabajadores, vulnerabilidad física
# Ordenado por índice de vulnerabilidad
n_series = "total"
df[["name", f"% {vul_n[0]}, {n_series}", index_n[0], index_n[2]]].sort_values(
    index_n[0], ascending = False ).head(5)

,name,"% Workers in sectors subject to physical climate vulnerability, total","Social vulnerability index, physical climate impacts",Extreme temperature exposure index
ISO_A3,,,,
TCD,Chad,71.879521,10.000000,9.144737
SSD,South Sudan,NaN,9.980131,9.078947
NER,Niger,33.136518,9.862461,9.276316
CAF,Central African Republic,NaN,9.653946,8.486842
SOM,Somalia,29.789144,9.553605,8.618421

In [70]:
# 10 países más altos, total de trabajadores, vulnerabilidad física
# Ordenado por índice de exposición
n_series = "total"
df[["name", f"% {vul_n[0]}, {n_series}", index_n[0], index_n[2]]].sort_values(
    index_n[2], ascending = False ).head(5)

,name,"% Workers in sectors subject to physical climate vulnerability, total","Social vulnerability index, physical climate impacts",Extreme temperature exposure index
ISO_A3,,,,
BHR,Bahrain,NaN,1.891880,10.000000
KHM,Cambodia,46.254985,7.048637,9.934211
BFA,Burkina Faso,30.548441,9.211059,9.868421
SEN,Senegal,37.777688,7.818466,9.802632
MLI,Mali,66.798344,9.251340,9.736842

In [72]:
# 10 países más altos, trabajadoras, vulnerabilidad física
n_series = "female"
df[["name", f"% {vul_n[0]}, total", f"% {vul_n[0]}, {n_series}",
    index_n[0], index_n[2]]].sort_values(
    f"% {vul_n[0]}, {n_series}", ascending = False ).head(10)

,name,"% Workers in sectors subject to physical climate vulnerability, total","% Workers in sectors subject to physical climate vulnerability, female","Social vulnerability index, physical climate impacts",Extreme temperature exposure index
ISO_A3,,,,,
BDI,Burundi,86.359480,51.145396,9.423808,0.131579
MOZ,Mozambique,75.051726,43.217526,8.940760,6.184211
UGA,Uganda,69.081884,35.150873,9.033390,3.223684
ARM,Armenia,57.242577,33.613807,3.252084,5.131579
LAO,Lao People's Democratic Republic,73.002749,33.511472,6.745617,6.710526
TZA,"Tanzania, United Republic of",67.852365,32.887337,8.213269,3.421053
MDG,Madagascar,71.666456,32.614401,8.019179,4.013158
GNB,Guinea-Bissau,56.882961,30.489686,8.800590,9.671053
RWA,Rwanda,60.195088,30.245178,8.441623,0.000000
ZWE,Zimbabwe,55.513058,29.609185,8.718394,6.052632

In [11]:
# Obtenemos los trabajadores de +65 años en riesgo
n_series = "more than 65 years old"

# Para cada país seleccionamos el año correspondiente
df_j = []
for row in countries[ countries["Age_year"].notnull() ].itertuples():
    df_j.append( df_0[ (df_0["sex.label"].isin(sexes[0:1]))
        & (df_0["classif1.label"].isin(ages[1:2]))
        & (df_0["classif2.label"].isin(sectors))
        & (df_0[ix]==row.Index)
        & (df_0["time"]==row.Age_year) ] )
df_i = pd.concat(df_j).set_index(ix).sort_index()

# Total de trabajadores
df_tot = df_i.loc[ df_i["sex.label"].isin(sexes[0:1]) &
    df_i["classif2.label"].isin(sectors[0:1]), "obs_value"].copy()

# Calculamos porcentajes por tipo de vulnerabilidad y unimos el dataframe
df_i["% obs_value"] = 100 * df_i["obs_value"] / df_tot
df_j = df_i.loc[df_i["classif2.label"].isin(sectors[1:2])].copy()
df_j[["obs_value", "% obs_value"]] = (
    df_i.loc[ df_i["classif2.label"].isin(sectors[1:2]),
    ["obs_value", "% obs_value"] ]
    + df_i.loc[ df_i["classif2.label"].isin(sectors[2:3]),
    ["obs_value", "% obs_value"] ] )
df_j["classif2.label"] = f"{vul_n[0]}, {n_series}"
df_k = df_i.loc[df_i["classif2.label"].isin(sectors[1:2])].copy()
df_k[["obs_value", "% obs_value"]] = (
    df_i.loc[ df_i["classif2.label"].isin(sectors[3:4]),
    ["obs_value", "% obs_value"] ]
    + df_i.loc[ df_i["classif2.label"].isin(sectors[4:5]),
    ["obs_value", "% obs_value"] ] )
df_k["classif2.label"] = f"{vul_n[1]}, {n_series}"
df_i = pd.concat([df_i, df_j, df_k]).sort_index()

# Calculamos porcentajes por tipo de vulnerabilidad y unimos el dataframe
for c in df_i.index.unique():
    df.loc[c, f"{vul_n[0]}, {n_series}"] = ( df_i.loc[ (df_i.index==c)
        & (df_i["classif2.label"]==f"{vul_n[0]}, {n_series}"),
        "obs_value"] ).values[0] * 1000
    df.loc[c, f"% {vul_n[0]}, {n_series}"] = ( df_i.loc[ (df_i.index==c)
        & (df_i["classif2.label"]==f"{vul_n[0]}, {n_series}"),
        "% obs_value"] ).values[0]
    df.loc[c, f"{vul_n[1]}, {n_series}"] = ( df_i.loc[ (df_i.index==c)
        & (df_i["classif2.label"]==f"{vul_n[1]}, {n_series}"),
        "obs_value"] ).values[0] * 1000
    df.loc[c, f"% {vul_n[1]}, {n_series}"] = ( df_i.loc[ (df_i.index==c)
        & (df_i["classif2.label"]==f"{vul_n[1]}, {n_series}"),
        "% obs_value"] ).values[0]

# 10 países más altos, +65 años, vulnerabilidad física
df[["name", f"% {vul_n[0]}, {n_series}", index_n[0], index_n[2]]].sort_values(
    f"% {vul_n[0]}, {n_series}", ascending = False ).head(10)

,name,"% Workers in sectors subject to physical climate vulnerability, more than 65 years old","Social vulnerability index, physical climate impacts",Extreme temperature exposure index
ISO_A3,,,,
MDA,"Moldova, Republic of",92.336733,4.086872,3.684211
ZWE,Zimbabwe,87.866969,8.718394,6.052632
BIH,Bosnia and Herzegovina,86.684523,4.385295,2.763158
BTN,Bhutan,85.137994,4.588912,0.000000
TZA,"Tanzania, United Republic of",83.489604,8.213269,3.421053
SRB,Serbia,83.009501,4.158272,4.736842
ZMB,Zambia,81.161917,8.199389,6.250000
RWA,Rwanda,80.980149,8.441623,0.000000
AGO,Angola,79.952821,7.708992,4.342105
ALB,Albania,79.148668,3.456820,3.947368

In [12]:
# Obtenemos los trabajadores de +45 años en riesgo
n_series = "more than 45 years old"

# Para cada país seleccionamos el año correspondiente
# Seleccionamos por rango de edad y sumamos
# Más de 65 años
df_j = []
for row in countries[ countries["Age_year"].notnull() ].itertuples():
    df_j.append( df_0[ (df_0["sex.label"].isin(sexes[0:1]))
        & (df_0["classif1.label"].isin(ages[1:2]))
        & (df_0["classif2.label"].isin(sectors))
        & (df_0[ix]==row.Index)
        & (df_0["time"]==row.Age_year) ].copy() )
# Más de 45 años
df_k = []
for row in countries[ countries["Age_year"].notnull() ].itertuples():
    df_k.append( df_0[ (df_0["sex.label"].isin(sexes[0:1]))
        & (df_0["classif1.label"].isin(ages[2:3]))
        & (df_0["classif2.label"].isin(sectors))
        & (df_0[ix]==row.Index)
        & (df_0["time"]==row.Age_year) ] )
# Más de 55 años
df_l = []
for row in countries[ countries["Age_year"].notnull() ].itertuples():
    df_l.append( df_0[ (df_0["sex.label"].isin(sexes[0:1]))
        & (df_0["classif1.label"].isin(ages[3:4]))
        & (df_0["classif2.label"].isin(sectors))
        & (df_0[ix]==row.Index)
        & (df_0["time"]==row.Age_year) ] )
for i in range(len(df_j)):
    df_j[i]["obs_value"] = ( df_j[i]["obs_value"].values
        + df_k[i]["obs_value"].values + df_l[i]["obs_value"].values )
    df_j[i]["classif1.label"] = "Age (10-year bands): 45+"
df_i = pd.concat(df_j).set_index(ix).sort_index()

# Total de trabajadores
df_tot = df_i.loc[ df_i["sex.label"].isin(sexes[0:1]) &
    df_i["classif2.label"].isin(sectors[0:1]), "obs_value"].copy()

# Calculamos porcentajes por tipo de vulnerabilidad y unimos el dataframe
df_i["% obs_value"] = 100 * df_i["obs_value"] / df_tot
df_k = df_i.loc[df_i["classif2.label"].isin(sectors[1:2])].copy()
df_k[["obs_value", "% obs_value"]] = (
    df_i.loc[ df_i["classif2.label"].isin(sectors[3:4]),
    ["obs_value", "% obs_value"] ]
    + df_i.loc[ df_i["classif2.label"].isin(sectors[4:5]),
    ["obs_value", "% obs_value"] ] )
df_k["classif2.label"] = f"{vul_n[1]}, {n_series}"
df_i = pd.concat([df_i, df_k]).sort_index()

# Calculamos porcentajes por tipo de vulnerabilidad y unimos el dataframe
df[f"{vul_n[1]}, {n_series}"] = ( df_i.loc[
    df_i["classif2.label"]==f"{vul_n[1]}, {n_series}", "obs_value"] * 1000 )
df[f"% {vul_n[1]}, {n_series}"] = ( df_i.loc[
    df_i["classif2.label"]==f"{vul_n[1]}, {n_series}", "% obs_value"] )

# 10 países más altos, +45 años, vulnerabilidad de transición
df[["name", f"% {vul_n[1]}, {n_series}", index_n[1]]].sort_values(
    f"% {vul_n[1]}, {n_series}", ascending = False ).head(10)

,name,"% Workers in sectors subject to transitional climate vulnerability, more than 45 years old","Social vulnerability index, climate transition impacts"
ISO_A3,,,
NPL,Nepal,39.620361,5.506662
CZE,Czechia,27.366115,1.766640
SVK,Slovakia,26.643084,2.331129
ROU,Romania,25.759645,5.484360
BLR,Belarus,24.125975,4.939936
MKD,North Macedonia,24.005197,5.476302
SVN,Slovenia,23.807785,1.167001
LSO,Lesotho,23.597213,8.912451
BGR,Bulgaria,22.527703,6.888080
HUN,Hungary,21.820094,3.884923

In [23]:
# Países con mayor exposición
df[ ["name", f"% {vul_n[0]}, total", f"% {vul_n[0]}, female",
    f"% {vul_n[0]}, more than 65 years old", index_n[0], index_n[2]]
    ].sort_values( index_n[2], ascending = False ).head(15)

,name,"% Workers in sectors subject to physical climate vulnerability, total","% Workers in sectors subject to physical climate vulnerability, female","% Workers in sectors subject to physical climate vulnerability, more than 65 years old","Social vulnerability index, physical climate impacts",Extreme temperature exposure index
ISO_A3,,,,,,
BHR,Bahrain,NaN,NaN,NaN,1.891880,10.000000
KHM,Cambodia,46.254985,46.254985,69.006939,7.048637,9.934211
BFA,Burkina Faso,30.548441,10.406367,37.705829,9.211059,9.868421
SEN,Senegal,31.945424,37.777688,42.799445,7.818466,9.802632
MLI,Mali,29.147406,66.798344,NaN,9.251340,9.736842
GNB,Guinea-Bissau,30.489686,30.533916,74.592275,8.800590,9.671053
NAM,Namibia,23.054135,16.677459,NaN,6.102077,9.605263
THA,Thailand,13.297081,13.297081,60.003402,2.673231,9.539474
EGY,Egypt,2.650639,2.650639,56.347472,6.852309,9.473684
BWA,Botswana,4.048408,24.715846,NaN,4.369751,9.407895
SDN,Sudan,8.262176,14.612563,NaN,8.568003,9.342105
NER,Niger,33.136518,NaN,NaN,9.862461,9.276316
MRT,Mauritania,34.065621,10.514345,59.777866,7.883364,9.210526
TCD,Chad,71.879521,NaN,NaN,10.000000,9.144737
SSD,South Sudan,NaN,NaN,NaN,9.980131,9.078947

In [24]:
# Países con mayor vulnerabilidad
df[ ["name", f"% {vul_n[0]}, total", f"% {vul_n[0]}, female",
    f"% {vul_n[0]}, more than 65 years old", index_n[0], index_n[2]]
    ].sort_values( index_n[0], ascending = False ).head(20)

,name,"% Workers in sectors subject to physical climate vulnerability, total","% Workers in sectors subject to physical climate vulnerability, female","% Workers in sectors subject to physical climate vulnerability, more than 65 years old","Social vulnerability index, physical climate impacts",Extreme temperature exposure index
ISO_A3,,,,,,
TCD,Chad,71.879521,NaN,NaN,10.000000,9.144737
SSD,South Sudan,NaN,NaN,NaN,9.980131,9.078947
NER,Niger,33.136518,NaN,NaN,9.862461,9.276316
CAF,Central African Republic,NaN,NaN,NaN,9.653946,8.486842
SOM,Somalia,29.789144,NaN,NaN,9.553605,8.618421
AFG,Afghanistan,16.835437,60.714640,NaN,9.514381,6.447368
BDI,Burundi,51.145396,86.359480,NaN,9.423808,0.131579
MLI,Mali,29.147406,66.798344,NaN,9.251340,9.736842
GIN,Guinea,NaN,NaN,NaN,9.235101,8.947368
BFA,Burkina Faso,30.548441,10.406367,37.705829,9.211059,9.868421
COD,"Congo, Democratic Republic of the",NaN,NaN,NaN,9.101615,4.210526
MWI,Malawi,NaN,NaN,NaN,9.078843,4.868421
UGA,Uganda,35.150873,35.150873,NaN,9.033390,3.223684
YEM,Yemen,37.828424,NaN,NaN,8.988814,7.105263
MOZ,Mozambique,43.217526,75.051726,NaN,8.940760,6.184211
GNB,Guinea-Bissau,30.489686,30.533916,74.592275,8.800590,9.671053
TGO,Togo,42.747297,22.206788,NaN,8.785984,8.684211
BEN,Benin,46.024886,22.243293,55.830199,8.774673,9.013158
LBR,Liberia,19.914973,NaN,NaN,8.767385,2.039474
ZWE,Zimbabwe,55.513058,55.513058,87.866969,8.718394,6.052632

In [13]:
# Información para un país específico
country = "FJI"

df.loc[country]

name                                                                                              Fiji
Social vulnerability index, physical climate impacts                                          5.594927
Social vulnerability index, climate transition impacts                                        4.270427
Extreme temperature exposure index                                                                 0.0
Workers in sectors subject to physical climate vulnerability, total                            24545.0
% Workers in sectors subject to physical climate vulnerability, total                         7.504624
Workers in sectors subject to transitional climate vulnerability, total                         7623.0
% Workers in sectors subject to transitional climate vulnerability, total                     2.330729
Workers in sectors subject to physical climate vulnerability, female                           24545.0
% Workers in sectors subject to physical climate vulnerability, female                        7.504624
Workers in sectors subject to transitional climate vulnerability, female                       21207.0
% Workers in sectors subject to transitional climate vulnerability, female                    6.484032
Workers in sectors subject to physical climate vulnerability, more than 65 years old               NaN
% Workers in sectors subject to physical climate vulnerability, more than 65 years old             NaN
Workers in sectors subject to transitional climate vulnerability, more than 65 years old           NaN
% Workers in sectors subject to transitional climate vulnerability, more than 65 years old         NaN
Workers in sectors subject to transitional climate vulnerability, more than 45 years old           NaN
% Workers in sectors subject to transitional climate vulnerability, more than 45 years old         NaN
Name: FJI, dtype: object