In [1]:
# Calcula un índice por país de vulnerabilidad socioeconómica

# Importamos librerías
import numpy as np
import pandas as pd
import geopandas as gpd
import geoviews as gv
from scipy import stats

# Parámetros de mapas
gv.extension("matplotlib")
def hook(plot, element):
    cax = plot.handles["cax"]
    ax = plot.handles["axis"]
    bbox = ax.get_position()
    l, b, w, h = bbox.x0, bbox.y0, bbox.width, bbox.height
    cax.set_position([l, 0.9*b, w, 0.05*h])
options = { "colorbar": True, "linewidth": 0.4,
    "hooks": [hook], "ylim":(-62,85), "xlim":(-180,180),
    "colorbar_opts": {"orientation": "horizontal"} }
options_m = { "bgcolor": "lightgray", "fontscale": 2, "aspect": 2.25 }

In [2]:
# Datos

# Códigos nacionales
ix  = "ISO_A3"

# Carpetas
path_r = "../results/"

# Catálogo de datos
path_catalog = "../../Bases_de_datos/Data_catalog.csv"
df_c = pd.read_csv(path_catalog)

# Mapa
borders_path = ( "../../Bases_de_datos/Mapas/"
    + "Natural_Earth/ne_50m_admin_0_countries_mod" )
borders = gpd.read_file(borders_path).drop(
    columns = [ix] ).set_index("ISO_A3_EH")
borders.index.name = ix
borders = borders[ borders["ISO_N3_EH"] != "-99" ]
borders = borders[ ~borders.index.duplicated() ]

# Océano
ocean_path = ( "../../Bases_de_datos/Mapas/"
    + "Natural_Earth/ne_50m_ocean" )
ocean = gv.Polygons( gpd.read_file(ocean_path), vdims = "min_zoom"
    ).opts( linewidth = 0, cmap = "Paired")

# Tabla base
iso = "../../Bases_de_datos/Country_ISO_code.csv"
df_iso = pd.read_csv(iso).set_index("alpha-3")
df_iso = df_iso.drop( ["ATA", "ATF", "HMD", "SJM", "SXM", "VAT",
    "BVT", "SGS", "UMI", "ESH", #"TKL",
    "IOT"] )
df_iso.loc[-1] = [ "Kosovo", "XK", "002", np.nan, "Europe", "Southern Europe",
    np.nan, 150, 39, np.nan, np.nan, np.nan, np.nan, np.nan ]
df_iso = df_iso.rename( index = {-1: "XKX"} )
df_iso.index.name = ix

# Nombres de variables a usar
vars = [
    "Mean years of schooling",
    "Scientific articles per million inhabitants",
    "Young workforce ratio (20-39 to 40-65 years old)",
    "Gender inequality index",
    "Total debt service [% of GNI]",
    "Central government debt [% of GDP]",
    "Gini coefficient"
    ]
var_i = [v + "_index" for v in vars]

In [3]:
index_n = [ "Social vulnerability index, physical climate impacts",
    "Social vulnerability index, climate transition impacts" ]

df_ph = pd.read_csv("../share/Indexes/Physical_vulnerability_index.csv",
    index_col = ix, usecols = ["Name", ix, index_n[0]] )
df_tr = pd.read_csv("../share/Indexes/Transition_vulnerability_index.csv",
    index_col = ix, usecols = ["Name", ix, index_n[1]] )

df_iso[index_n[0]] = df_ph[index_n[0]]
df_iso[index_n[1]] = df_tr[index_n[1]]

df = df_iso[ ["name"] + index_n].copy()

df

,name,"Social vulnerability index, physical climate impacts","Social vulnerability index, climate transition impacts"
ISO_A3,,,
AFG,Afghanistan,9.514381,5.899866
ALA,Åland Islands,NaN,2.528552
ALB,Albania,3.456820,4.426429
DZA,Algeria,5.218510,4.363097
ASM,American Samoa,NaN,7.173061
...,...,...,...
WLF,Wallis and Futuna,NaN,5.848723
YEM,Yemen,8.988814,6.824422
ZMB,Zambia,8.199389,8.271665
ZWE,Zimbabwe,8.718394,6.329295
XKX,Kosovo,NaN,3.963699

In [7]:
df_0["time"].sort_values().unique()

array([1970, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985,
       1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996,
       1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007,
       2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018,
       2019, 2020, 2021, 2022, 2023])

In [9]:
a = df_0.loc[ (df_0["sex.label"]==sex)
        & (df_0["classif1.label"]==age)
        & (df_0["classif2.label"]==s) ]
time = a["time"].sort_values(ascending = False).unique()
countries = a["ref_area.label"].unique()

In [13]:
len(sectors) * len(sexes) * len([ages[0]])

10

In [57]:
id = "EMP_TEMP_SEX_AGE_ECO_NB"
vul_n = [ "Workers in sectors subject to physical climate vulnerability",
    "Workers in sectors subject transitional climate vulnerability" ]

sectors = [ "Economic activity (Aggregate): Total",
    "Economic activity (Aggregate): Agriculture",
    "Economic activity (Aggregate): Construction",
    "Economic activity (Aggregate): Manufacturing",
    "Economic activity (Aggregate): Mining and quarrying; "
    + "Electricity, gas and water supply" ]
sexes = ["Sex: Total", "Sex: Female"]
ages = [ "Age (10-year bands): Total",
    "Age (10-year bands): 65+",
    "Age (10-year bands): 45-54" ]

# Cargamos el archivo
df_0 = pd.read_csv( "../../" + df_c.loc[df_c["ID"]==id, "Path"].iloc[0]
    + df_c.loc[df_c["ID"]==id, "Filename" ].iloc[0], low_memory = False )
df_0["ref_area.label"] = df_0["ref_area.label"].replace( {
    "Occupied Palestinian Territory": "Palestine, State of",
    "Hong Kong, China": "Hong Kong",
    "Republic of Korea" : "Korea, Republic of",
    "Republic of Moldova": "Moldova, Republic of"
    } )
df_0 = df_0.set_index("ref_area.label")
df_0[ix] = df_iso["name"].reset_index().set_index("name")
df_0 = df_0.reset_index()

countries = df_0.loc[~df_0[ix].duplicated(), [ix]].set_index(ix)
countries["Total_year"] = None
countries["Female_year"] = None
countries["Age_year"] = None
countries

       Total_year Female_year Age_year
ISO_A3
AFG          None        None     None
AGO          None        None     None
ALB          None        None     None
ARE          None        None     None
ARG          None        None     None
...           ...         ...      ...
WSM          None        None     None
YEM          None        None     None
ZAF          None        None     None
ZMB          None        None     None
ZWE          None        None     None

[175 rows x 3 columns]

In [60]:
shape = len(sectors) * len(sexes) * len([ages[0]])
for c in countries.index:
    for y in range(2023, 2013, -1):
        size = df_0.loc[ (df_0["sex.label"].isin(sexes))
            & (df_0["classif1.label"].isin([ages[0]]))
            & (df_0["classif2.label"].isin(sectors))
            & (df_0["time"]==y)
            & (df_0[ix]==c)
            & (df_0["obs_value"].notnull()) ].shape[0]
        if size == shape:
            countries.loc[c, "Female_year"] = y
            break

shape = len(sectors) * len([sexes[0]]) * len([ages[0]])
for c in countries.index:
    for y in range(2023, 2013, -1):
        size = df_0.loc[ (df_0["sex.label"].isin([sexes[0]]))
            & (df_0["classif1.label"].isin([ages[0]]))
            & (df_0["classif2.label"].isin(sectors))
            & (df_0["time"]==y)
            & (df_0[ix]==c)
            & (df_0["obs_value"].notnull()) ].shape[0]
        if size == shape:
            countries.loc[c, "Total_year"] = y
            break

shape = len(sectors) * len([sexes[0]]) * len(ages)
for c in countries.index:
    for y in range(2023, 2013, -1):
        size = df_0.loc[ (df_0["sex.label"].isin([sexes[0]]))
            & (df_0["classif1.label"].isin(ages))
            & (df_0["classif2.label"].isin(sectors))
            & (df_0["time"]==y)
            & (df_0[ix]==c)
            & (df_0["obs_value"].notnull()) ].shape[0]
        if size == shape:
            countries.loc[c, "Age_year"] = y
            break

countries["Total_year"] = countries["Total_year"].where(
    countries["Female_year"].isnull(), np.nan )

countries[countries["Age_year"].notnull()].sort_values("Age_year")

       Total_year Female_year Age_year
ISO_A3
CMR           NaN        2021     2014
MAR           NaN        2014     2014
TTO           NaN        2022     2015
ZMB           NaN        2021     2015
MDV           NaN        2019     2016
...           ...         ...      ...
BRA           NaN        2023     2023
RUS           NaN        2023     2023
RWA           NaN        2023     2023
SGP           NaN        2023     2023
MDA           NaN        2023     2023

[116 rows x 3 columns]

In [113]:
n_series = "total"

df_j = []
for row in countries.itertuples():
    df_j.append( df_0[ (df_0["sex.label"].isin(sexes[0:1]))
        & (df_0["classif1.label"].isin(ages[0:1]))
        & (df_0["classif2.label"].isin(sectors))
        & (df_0[ix]==row.Index)
        & (df_0["time"]==row.Total_year) ] )
df_i = pd.concat(df_j).set_index(ix).sort_index()

df_tot = df_i.loc[df_i["classif2.label"]==sectors[0], "obs_value"].copy()
df_i["% obs_value"] = 100 * df_i["obs_value"] / df_tot
df_j = df_i.loc[df_i["classif2.label"]==sectors[1]].copy()
df_j[["obs_value", "% obs_value"]] = (
    df_i.loc[ df_i["classif2.label"]==sectors[1],
    ["obs_value", "% obs_value"] ]
    + df_i.loc[ df_i["classif2.label"]==sectors[2],
    ["obs_value", "% obs_value"] ] )
df_j["classif2.label"] = f"{vul_n[0]}, {n_series}"
df_k = df_i.loc[df_i["classif2.label"]==sectors[1]].copy()
df_k[["obs_value", "% obs_value"]] = (
    df_i.loc[ df_i["classif2.label"]==sectors[3],
    ["obs_value", "% obs_value"] ]
    + df_i.loc[ df_i["classif2.label"]==sectors[4],
    ["obs_value", "% obs_value"] ] )
df_k["classif2.label"] = f"{vul_n[1]}, {n_series}"
df_i = pd.concat([df_i, df_j, df_k]).sort_index()

for c in df_i.index.unique():
    df.loc[c, f"{vul_n[0]}, {n_series}"] = ( df_i.loc[ (df_i.index==c)
        & (df_i["classif2.label"]==f"{vul_n[0]}, {n_series}"),
        "obs_value"] ).values[0] * 1000
    df.loc[c, f"% {vul_n[0]}, {n_series}"] = ( df_i.loc[ (df_i.index==c)
        & (df_i["classif2.label"]==f"{vul_n[0]}, {n_series}"),
        "% obs_value"] ).values[0]
    df.loc[c, f"{vul_n[1]}, {n_series}"] = ( df_i.loc[ (df_i.index==c)
        & (df_i["classif2.label"]==f"{vul_n[1]}, {n_series}"),
        "obs_value"] ).values[0] * 1000
    df.loc[c, f"% {vul_n[1]}, {n_series}"] = ( df_i.loc[ (df_i.index==c)
        & (df_i["classif2.label"]==f"{vul_n[1]}, {n_series}"),
        "% obs_value"] ).values[0]

df[["name", f"% {vul_n[1]}, {n_series}", index_n[1]]].sort_values(
    f"% {vul_n[1]}, {n_series}", ascending = False ).head(10)

,name,"% Workers in sectors subject transitional climate vulnerability, total","Social vulnerability index, climate transition impacts"
ISO_A3,,,
NER,Niger,21.740521,7.067697
SOM,Somalia,14.204939,7.062855
NIU,Niue,7.436919,3.488762
TCD,Chad,7.431063,7.860946
SLE,Sierra Leone,6.944157,7.568449
MSR,Montserrat,6.468461,5.679154
COK,Cook Islands,6.266384,3.488762
YEM,Yemen,5.859999,6.824422
FSM,Micronesia (Federated States of),3.647502,5.484739
LBR,Liberia,2.995924,7.625141

In [114]:
df[["name", f"% {vul_n[0]}, {n_series}", index_n[0]]].sort_values(
    f"% {vul_n[0]}, {n_series}", ascending = False ).head(10)

,name,"% Workers in sectors subject to physical climate vulnerability, total","Social vulnerability index, physical climate impacts"
ISO_A3,,,
TCD,Chad,71.879521,10.000000
SLE,Sierra Leone,49.568067,8.644453
YEM,Yemen,37.828424,8.988814
FSM,Micronesia (Federated States of),37.104479,6.987398
NER,Niger,33.136518,9.862461
SOM,Somalia,29.789144,9.553605
LBR,Liberia,19.914973,8.767385
NIU,Niue,16.069057,NaN
MSR,Montserrat,10.285255,NaN
COK,Cook Islands,8.575708,NaN

In [120]:
df_i.loc["AFG"]

,ref_area.label,source.label,indicator.label,sex.label,classif1.label,classif2.label,time,obs_value,obs_status.label,note_classif.label,note_indicator.label,note_source.label
ISO_A3,,,,,,,,,,,,
AFG,Afghanistan,LFS - Labour Force Survey,"Employment by sex, age and economic activity (...",Sex: Total,Age (10-year bands): Total,Economic activity (Aggregate): Total,2021,7679.474,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
AFG,Afghanistan,LFS - Labour Force Survey,"Employment by sex, age and economic activity (...",Sex: Total,Age (10-year bands): Total,Economic activity (Aggregate): Agriculture,2021,3747.215,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
AFG,Afghanistan,LFS - Labour Force Survey,"Employment by sex, age and economic activity (...",Sex: Total,Age (10-year bands): Total,Economic activity (Aggregate): Manufacturing,2021,491.404,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
AFG,Afghanistan,LFS - Labour Force Survey,"Employment by sex, age and economic activity (...",Sex: Total,Age (10-year bands): Total,Economic activity (Aggregate): Construction,2021,915.350,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
AFG,Afghanistan,LFS - Labour Force Survey,"Employment by sex, age and economic activity (...",Sex: Total,Age (10-year bands): Total,Economic activity (Aggregate): Mining and quar...,2021,56.618,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
AFG,Afghanistan,LFS - Labour Force Survey,"Employment by sex, age and economic activity (...",Sex: Female,Age (10-year bands): Total,Economic activity (Aggregate): Total,2021,1829.046,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
AFG,Afghanistan,LFS - Labour Force Survey,"Employment by sex, age and economic activity (...",Sex: Female,Age (10-year bands): Total,Economic activity (Aggregate): Agriculture,2021,1280.255,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
AFG,Afghanistan,LFS - Labour Force Survey,"Employment by sex, age and economic activity (...",Sex: Female,Age (10-year bands): Total,Economic activity (Aggregate): Manufacturing,2021,293.039,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
AFG,Afghanistan,LFS - Labour Force Survey,"Employment by sex, age and economic activity (...",Sex: Female,Age (10-year bands): Total,Economic activity (Aggregate): Construction,2021,12.618,Unreliable,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...
AFG,Afghanistan,LFS - Labour Force Survey,"Employment by sex, age and economic activity (...",Sex: Female,Age (10-year bands): Total,Economic activity (Aggregate): Mining and quar...,2021,0.000,NaN,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...

In [116]:
n_series = "total"

df_j = []
for row in countries.itertuples():
    df_j.append( df_0[ (df_0["sex.label"].isin(sexes))
        & (df_0["classif1.label"].isin(ages[0:1]))
        & (df_0["classif2.label"].isin(sectors))
        & (df_0[ix]==row.Index)
        & (df_0["time"]==row.Female_year) ] )
df_i = pd.concat(df_j).set_index(ix).sort_index()

df_tot = df_i.loc[ (df_i["sex.label"]==sexes[0]) 
    (df_i["classif2.label"]==sectors[0]) , "obs_value"].copy()
df_i["% obs_value"] = 100 * df_i["obs_value"] / df_tot
df_j = df_i.loc[df_i["classif2.label"]==sectors[1]].copy()
df_j[["obs_value", "% obs_value"]] = (
    df_i.loc[ df_i["classif2.label"]==sectors[1],
    ["obs_value", "% obs_value"] ]
    + df_i.loc[ df_i["classif2.label"]==sectors[2],
    ["obs_value", "% obs_value"] ] )
df_j["classif2.label"] = f"{vul_n[0]}, {n_series}"
df_k = df_i.loc[df_i["classif2.label"]==sectors[1]].copy()
df_k[["obs_value", "% obs_value"]] = (
    df_i.loc[ df_i["classif2.label"]==sectors[3],
    ["obs_value", "% obs_value"] ]
    + df_i.loc[ df_i["classif2.label"]==sectors[4],
    ["obs_value", "% obs_value"] ] )
df_k["classif2.label"] = f"{vul_n[1]}, {n_series}"
df_i = pd.concat([df_i, df_j, df_k]).sort_index()

for c in df_i.index.unique():
    df.loc[c, f"{vul_n[0]}, {n_series}"] = ( df_i.loc[ (df_i.index==c)
        & (df_i["classif2.label"]==f"{vul_n[0]}, {n_series}"),
        "obs_value"] ).values[0] * 1000
    df.loc[c, f"% {vul_n[0]}, {n_series}"] = ( df_i.loc[ (df_i.index==c)
        & (df_i["classif2.label"]==f"{vul_n[0]}, {n_series}"),
        "% obs_value"] ).values[0]
    df.loc[c, f"{vul_n[1]}, {n_series}"] = ( df_i.loc[ (df_i.index==c)
        & (df_i["classif2.label"]==f"{vul_n[1]}, {n_series}"),
        "obs_value"] ).values[0] * 1000
    df.loc[c, f"% {vul_n[1]}, {n_series}"] = ( df_i.loc[ (df_i.index==c)
        & (df_i["classif2.label"]==f"{vul_n[1]}, {n_series}"),
        "% obs_value"] ).values[0]

n_series = "female"

df_i["% obs_value"] = 100 * df_i["obs_value"] / df_tot
df_j = df_i.loc[df_i["classif2.label"]==sectors[1]].copy()
df_j[["obs_value", "% obs_value"]] = (
    df_i.loc[ df_i["classif2.label"]==sectors[1],
    ["obs_value", "% obs_value"] ]
    + df_i.loc[ df_i["classif2.label"]==sectors[2],
    ["obs_value", "% obs_value"] ] )
df_j["classif2.label"] = f"{vul_n[0]}, {n_series}"
df_k = df_i.loc[df_i["classif2.label"]==sectors[1]].copy()
df_k[["obs_value", "% obs_value"]] = (
    df_i.loc[ df_i["classif2.label"]==sectors[3],
    ["obs_value", "% obs_value"] ]
    + df_i.loc[ df_i["classif2.label"]==sectors[4],
    ["obs_value", "% obs_value"] ] )
df_k["classif2.label"] = f"{vul_n[1]}, {n_series}"
df_i = pd.concat([df_i, df_j, df_k]).sort_index()

for c in df_i.index.unique():
    df.loc[c, f"{vul_n[0]}, {n_series}"] = ( df_i.loc[ (df_i.index==c)
        & (df_i["classif2.label"]==f"{vul_n[0]}, {n_series}"),
        "obs_value"] ).values[0] * 1000
    df.loc[c, f"% {vul_n[0]}, {n_series}"] = ( df_i.loc[ (df_i.index==c)
        & (df_i["classif2.label"]==f"{vul_n[0]}, {n_series}"),
        "% obs_value"] ).values[0]
    df.loc[c, f"{vul_n[1]}, {n_series}"] = ( df_i.loc[ (df_i.index==c)
        & (df_i["classif2.label"]==f"{vul_n[1]}, {n_series}"),
        "obs_value"] ).values[0] * 1000
    df.loc[c, f"% {vul_n[1]}, {n_series}"] = ( df_i.loc[ (df_i.index==c)
        & (df_i["classif2.label"]==f"{vul_n[1]}, {n_series}"),
        "% obs_value"] ).values[0]

ValueError: cannot reindex on an axis with duplicate labels

In [7]:
df[["name", f"% {vul_n[0]}, {n_series}", index_n[0]]].sort_values(
    f"% {vul_n[0]}, {n_series}", ascending = False ).head(10)

,name,"% Workers subject to physical climate vulnerability, female","Social vulnerability index, physical climate impacts"
ISO_A3,,,
BDI,Burundi,51.145396,9.423808
MOZ,Mozambique,43.217526,8.940760
UGA,Uganda,35.150873,9.033390
ARM,Armenia,33.613807,3.252084
LAO,Lao People's Democratic Republic,33.511472,6.745617
MWI,Malawi,33.492188,9.078843
TZA,"Tanzania, United Republic of",32.887337,8.213269
MDG,Madagascar,32.614401,8.019179
CHN,China,31.056661,3.348404
RWA,Rwanda,30.245178,8.441623

In [8]:
sex = "Sex: Total"
age = "Age (10-year bands): 65+"
n_series = "more than 65 years old"
df_j = []
for s in sectors:
    df_j.append( df_0[ (df_0["sex.label"]==sex)
        & (df_0["classif1.label"]==age)
        & (df_0["classif2.label"]==s) ].sort_values( [ix, "time"] 
        ).drop_duplicates( ix, keep="last" ).set_index(ix) )
df_i = pd.concat(df_j).sort_index()
df_i["% obs_value"] = 100 * df_i["obs_value"] / df_tot
df_j = df_i.loc[df_i["classif2.label"]==sectors[1]].copy()
df_j[["obs_value", "% obs_value"]] = (
    df_i.loc[ df_i["classif2.label"]==sectors[1],
    ["obs_value", "% obs_value"] ]
    + df_i.loc[ df_i["classif2.label"]==sectors[2],
    ["obs_value", "% obs_value"] ] )
df_j["classif2.label"] = f"{vul_n[0]}, {n_series}"
df_i = pd.concat([df_i, df_j]).sort_index()
df[f"{vul_n[0]}, {n_series}"] = ( df_i.loc[
    df_i["classif2.label"]==f"{vul_n[0]}, {n_series}","obs_value"] * 1000 )
df[f"% {vul_n[0]}, {n_series}"] = ( df_i.loc[
    df_i["classif2.label"]==f"{vul_n[0]}, {n_series}", "% obs_value"] )
df[["name", f"% {vul_n[0]}, {n_series}", index_n[0]]].sort_values(
    f"% {vul_n[0]}, {n_series}", ascending = False ).head(10)

,name,"% Workers subject to physical climate vulnerability, more than 65 years old","Social vulnerability index, physical climate impacts"
ISO_A3,,,
MDA,"Moldova, Republic of",16.373623,4.086872
GEO,Georgia,10.786018,4.072416
ARM,Armenia,7.761224,3.252084
SRB,Serbia,6.595009,4.158272
ZWE,Zimbabwe,6.237663,8.718394
TLS,Timor-Leste,6.021100,8.082596
MOZ,Mozambique,5.427819,8.940760
TZA,"Tanzania, United Republic of",4.910811,8.213269
ECU,Ecuador,4.780035,3.413635
BOL,Bolivia (Plurinational State of),4.760557,5.661004

In [11]:
sex = "Sex: Total"
n_series = "more than 45 years old"
df_j = []
age = "Age (10-year bands): 65+"
for s in sectors:
    df_j.append( df_0[ (df_0["sex.label"]==sex)
        & (df_0["classif1.label"]==age)
        & (df_0["classif2.label"]==s) ].sort_values( [ix, "time"] 
        ).drop_duplicates( ix, keep="last" ).set_index(ix) )
df_k = []
age = "Age (10-year bands): 55-64"
for s in sectors:
    df_k.append( df_0[ (df_0["sex.label"]==sex)
        & (df_0["classif1.label"]==age)
        & (df_0["classif2.label"]==s) ].sort_values( [ix, "time"] 
        ).drop_duplicates( ix, keep="last" ).set_index(ix) )
df_l = []
age = "Age (10-year bands): 45-54"
for s in sectors:
    df_l.append( df_0[ (df_0["sex.label"]==sex)
        & (df_0["classif1.label"]==age)
        & (df_0["classif2.label"]==s) ].sort_values( [ix, "time"] 
        ).drop_duplicates( ix, keep="last" ).set_index(ix) )
for i in range(len(df_j)):
    df_j[i]["obs_value"] = ( df_j[i]["obs_value"]
        + df_k[i]["obs_value"] + df_l[i]["obs_value"] )
    df_j[i]["classif1.label"] = "Age (10-year bands): 45+"
df_i = pd.concat(df_j).sort_index()
df_i["% obs_value"] = 100 * df_i["obs_value"] / df_tot
df_k = df_i.loc[df_i["classif2.label"]==sectors[1]].copy()
df_k[["obs_value", "% obs_value"]] = (
    df_i.loc[ df_i["classif2.label"]==sectors[3],
    ["obs_value", "% obs_value"] ]
    + df_i.loc[ df_i["classif2.label"]==sectors[4],
    ["obs_value", "% obs_value"] ] )
df_k["classif2.label"] = f"{vul_n[1]}, {n_series}"
df_i = pd.concat([df_i, df_k]).sort_index()
df[f"{vul_n[1]}, {n_series}"] = ( df_i.loc[
    df_i["classif2.label"]==f"{vul_n[1]}, {n_series}", "obs_value"] * 1000 )
df[f"% {vul_n[1]}, {n_series}"] = ( df_i.loc[
    df_i["classif2.label"]==f"{vul_n[1]}, {n_series}", "% obs_value"] )
df[["name", f"% {vul_n[1]}, {n_series}", index_n[1]]].sort_values(
    f"% {vul_n[1]}, {n_series}", ascending = False ).head(10)

,name,"% Workers subject to transitional climate vulnerability, more than 45 years old","Social vulnerability index, climate transition impacts"
ISO_A3,,,
CZE,Czechia,13.648811,1.766640
NPL,Nepal,12.150081,5.506662
SVK,Slovakia,11.878229,2.331129
ROU,Romania,11.623519,5.484360
BGR,Bulgaria,11.397671,6.888080
SVN,Slovenia,11.109241,1.167001
ITA,Italy,10.608298,4.515510
UKR,Ukraine,10.391051,5.266114
HUN,Hungary,10.263191,3.884923
SRB,Serbia,10.084574,5.562119

In [16]:
df

,name,"Social vulnerability index, physical climate impacts","Social vulnerability index, climate transition impacts","Workers subject to physical climate vulnerability, total","% Workers subject to physical climate vulnerability, total","Workers subject to transitional climate vulnerability, total","% Workers subject to transitional climate vulnerability, total","Workers subject to physical climate vulnerability, female","% Workers subject to physical climate vulnerability, female","Workers subject to transitional climate vulnerability, female","% Workers subject to transitional climate vulnerability, female","Workers subject to physical climate vulnerability, more than 65 years old","% Workers subject to physical climate vulnerability, more than 65 years old","Workers subject to transitional climate vulnerability, more than 45 years old","% Workers subject to transitional climate vulnerability, more than 45 years old"
ISO_A3,,,,,,,,,,,,,,,
AFG,Afghanistan,9.514381,5.899866,4662565.0,60.714640,548022.0,7.136192,1292873.0,16.835437,293039.0,3.815873,146368.0,1.905964,NaN,NaN
ALA,Åland Islands,NaN,2.528552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ALB,Albania,3.456820,4.426429,538790.0,41.510588,185153.0,14.264945,243158.0,18.733888,93519.0,7.205087,51487.0,3.966769,73554.0,5.666901
DZA,Algeria,5.218510,4.363097,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ASM,American Samoa,NaN,7.173061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WLF,Wallis and Futuna,NaN,5.848723,171.0,4.020691,231.0,5.431460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YEM,Yemen,8.988814,6.824422,1587561.0,37.828424,245929.0,5.859999,NaN,NaN,NaN,NaN,77474.0,1.846051,NaN,NaN
ZMB,Zambia,8.199389,8.271665,3414875.0,58.817182,405860.0,6.990458,NaN,NaN,97395.0,1.677514,191773.0,3.303063,NaN,NaN
ZWE,Zimbabwe,8.718394,6.329295,2997422.0,55.513058,533563.0,9.881730,1598745.0,29.609185,92159.0,1.706809,336802.0,6.237663,139532.0,2.584170
XKX,Kosovo,NaN,3.963699,61819.0,14.879472,54354.0,13.082690,5683.0,1.367865,7757.0,1.867065,NaN,NaN,23563.0,5.671477

In [20]:
df[["name", f"{vul_n[0]}, more than 65 years old", f"{vul_n[1]}, more than 45 years old"]].sort_values(
    f"{vul_n[1]}, {n_series}").tail(20)

,name,"Workers subject to physical climate vulnerability, more than 65 years old","Workers subject to transitional climate vulnerability, more than 45 years old"
ISO_A3,,,
SSD,South Sudan,81604.0,NaN
SDN,Sudan,300273.0,NaN
SUR,Suriname,NaN,NaN
SYR,Syrian Arab Republic,NaN,NaN
TWN,"Taiwan, Province of China",NaN,NaN
TJK,Tajikistan,NaN,NaN
TGO,Togo,NaN,NaN
TKL,Tokelau,NaN,NaN
TON,Tonga,1514.0,NaN
TTO,Trinidad and Tobago,NaN,NaN
TKM,Turkmenistan,NaN,NaN
TCA,Turks and Caicos Islands,NaN,NaN
TUV,Tuvalu,NaN,NaN
UGA,Uganda,NaN,NaN
UZB,Uzbekistan,NaN,NaN
VGB,Virgin Islands (British),NaN,NaN
VIR,Virgin Islands (U.S.),NaN,NaN
WLF,Wallis and Futuna,NaN,NaN
YEM,Yemen,77474.0,NaN
ZMB,Zambia,191773.0,NaN

In [23]:
df_0[(df_0["ref_area.label"] == "Sudan") & df_0["obs_value"].isnull()]

,ref_area.label,source.label,indicator.label,sex.label,classif1.label,classif2.label,time,obs_value,obs_status.label,note_classif.label,note_indicator.label,note_source.label,ISO_A3
2020995,Sudan,LFS - Labor Market Panel Survey,"Employment by sex, age and economic activity (...",Sex: Female,"Age (Youth, adults): 15-24",Economic activity (Aggregate): Construction,2022,NaN,Unreliable,NaN,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...,SDN
2021060,Sudan,LFS - Labor Market Panel Survey,"Employment by sex, age and economic activity (...",Sex: Total,"Age (Youth, adults): 15-24",Economic activity (ISIC-Rev.4): K. Financial a...,2022,NaN,Unreliable,NaN,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...,SDN
2021064,Sudan,LFS - Labor Market Panel Survey,"Employment by sex, age and economic activity (...",Sex: Total,"Age (Youth, adults): 15-24",Economic activity (ISIC-Rev.4): P. Education,2022,NaN,Unreliable,NaN,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...,SDN
2021066,Sudan,LFS - Labor Market Panel Survey,"Employment by sex, age and economic activity (...",Sex: Total,"Age (Youth, adults): 15-24","Economic activity (ISIC-Rev.4): R. Arts, enter...",2022,NaN,Unreliable,NaN,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...,SDN
2021069,Sudan,LFS - Labor Market Panel Survey,"Employment by sex, age and economic activity (...",Sex: Total,"Age (Youth, adults): 15-24",Economic activity (ISIC-Rev.4): U. Activities ...,2022,NaN,Unreliable,NaN,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...,SDN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023319,Sudan,LFS - Labor Market Panel Survey,"Employment by sex, age and economic activity (...",Sex: Female,Age (10-year bands): 55-64,Economic activity (Aggregate): Mining and quar...,2011,NaN,Unreliable,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...,SDN
2023325,Sudan,LFS - Labor Market Panel Survey,"Employment by sex, age and economic activity (...",Sex: Female,Age (10-year bands): 65+,Economic activity (Aggregate): Manufacturing,2011,NaN,Unreliable,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...,SDN
2023327,Sudan,LFS - Labor Market Panel Survey,"Employment by sex, age and economic activity (...",Sex: Female,Age (10-year bands): 65+,Economic activity (Aggregate): Mining and quar...,2011,NaN,Unreliable,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...,SDN
2023330,Sudan,LFS - Labor Market Panel Survey,"Employment by sex, age and economic activity (...",Sex: Female,Age (10-year bands): 65+,Economic activity (Aggregate): Not classified,2011,NaN,Unreliable,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...,SDN
2024153,Sudan,PC - Population and Housing Census,"Employment by sex, age and economic activity (...",Sex: Female,Age (Aggregate bands): 65+,Economic activity (ISIC-Rev.3.1): C. Mining an...,2008,NaN,Unreliable,NaN,NaN,Repository: ILO-STATISTICS - Micro data proces...,SDN

In [10]:
# Información para un país específico
country = "FJI"

df.loc[country]

name                                                                                    Fiji
Social vulnerability index, physical climate impacts                                5.594927
Social vulnerability index, climate transition impacts                              4.270427
Workers subject to physical climate vulnerability, total                            125249.0
% Workers subject to physical climate vulnerability, total                         38.294834
Workers subject to transitional climate vulnerability, total                         21207.0
% Workers subject to transitional climate vulnerability, total                      6.484032
Workers subject to physical climate vulnerability, female                            24545.0
% Workers subject to physical climate vulnerability, female                         7.504624
Workers subject to transitional climate vulnerability, female                         7623.0
% Workers subject to transitional climate vulnerability, female                     2.330729
Workers subject to physical climate vulnerability, more than 65 years old             7836.0
% Workers subject to physical climate vulnerability, more than 65 years old         2.395854
Workers subject to transitional climate vulnerability, more than 45 years old            NaN
% Workers subject to transitional climate vulnerability, more than 45 years old          NaN
Name: FJI, dtype: object